<!DOCTYPE html><!--Doctype que define que es una pagina html5-->
<html lang="en"><!--Se define el lenguaje de la página como español-->
  <head>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}" />
    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/struct.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/checks.js') }}"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){ // Script del Navegador
      $('#contenido_pestanas div').css('position', 'absolute').not(':first').hide();
    });

    function present(b, t) {
      $('#contenido_pestanas a').removeClass('aqui');
      $(b).addClass('aqui');
      $('#contenido_pestanas div').fadeOut(350);
      $(t).fadeIn(100);
       return false;
    }
    </script>
    <meta charset="utf-8"/><!--La codificacion del documento es UTF-8-->
    <title>Procesamiento de Texto - WS integrador</title><!--Se recomienda un titulo diferente para cada página del sitio web-->
    
  </head>
 
  <body class="single demo">
    <header>
      
 
      <nav>
        <div><a class="headMenu" href="http://www.utpl.edu.ec">UTPL</a></div>
      <hr>
      </nav>
      <hgroup>
        <h2>Frontal WS</h2>
      </hgroup>
    </header>
 
    <section>

      <div id="page" class="back">
    
    <div class="tableA">
        <table>
                <tr>
                  <td>
                      <textarea id = "textMain" placeholder="Texto a ser procesado.."  name=text rows="8" cols="70">ISIS beheaded another Westerner, a British aid worker. Britain's leader vowed the death won't stop his country from battling the terrorist group. And U.S. Secretary of State John Kerry courted Middle Eastern leaders to join a coalition in the fight.</textarea> 
                      <div class="controls">
                      <a href=# id="calculate" class="medium button go">Procesar</a>
                    <a href=# id="reset" class="medium button reset">Borrar</a>
                      </div>
                  </td>
                  <td class="checks">
                  <div>
                    <label>
                      <input type="checkbox" id="check1" name="option1" onClick="onCheck1()" checked>
                      <span class="mcheck">Segmentación en Sentencias</span>
                    </label>
                    <label>
                      <input type="checkbox" id="check2" name="option2" onClick="onCheck2()" checked>
                      <span class="mcheck">Tokenización</span>
                    </label>
                    <label>
                      <input type="checkbox" id="check3" name="option3" onClick="onCheck3()" checked>
                      <span class="mcheck">Etiquetado</span>
                    </label>
                    <label>
                      <input type="checkbox" id="check4" name="option4" onClick="onCheck4()" checked>
                      <span class="mcheck">Extracción de Entidades</span>
                    </label>
                    <label>
                      <input type="checkbox" id="check5" name="option5" onClick="onCheck5()" checked>

                      <span class="mcheck">Desambiguación y Enlace  <!--  <img src="{{ url_for('static', filename='img/candado.png') }}" alt="Smiley face" height="10" width="10">--></span>
                    </label>

                    <!--
                    <input type="checkbox" id="check1" name="option1" onClick="onCheck1()" checked> <label>Segmentación en Sentencias <label><br>
                    <input type="checkbox" id="check2" name="option2" onClick="onCheck2()" checked> Tokenización <br>
                    <input type="checkbox" id="check3" name="option3" onClick="onCheck3()" checked> Etiquetado <br>
                    <input type="checkbox" id="check4" name="option4" onClick="onCheck4()" checked> Extracción de Entidades <br>
                    <input type="checkbox" id="check5" name="option5" onClick="onCheck5()" checked> Desambiguación y Enlace -->
                    </div>
                  </td> 
                </tr>
                
                </table>
    </div>
    
    
     
    <div id="resulUp">  </div>  
    <div id="resultado">  </div>    
    
    
    <!--<section class="color-1">
        <nav class="cl-effect-1">
          <a href="#">Wafture</a>
          <a href="#">Sumptuous</a>
          <a href="#">Scintilla</a>
          <a href="#">Propinquity</a>
          <a href="#">Harbinger</a>
        </nav>
      </section> -->
    
    
    

    <!--

    <div id="light">      
       <ul>
        <li><a class="medium button red">Pink Button</a>
        <a class="large button green">Green Button</a></li>
       <li> <a class="large button blue">Blue Button</a>
        <a class="large button red">Red Button</a></li>
        <li><a class="large button orange">Orange Button</a>
        <a class="large button yellow">Yellow Button</a></li>
        </ul>
 </div>       
        
 <div id="dark">       
        <ul>
        <li><a class="super button pink">Pink Button</a>
        <a class="large button green">Green Button</a></li>
       <li> <a class="medium button blue">Blue Button</a>
        <a class="large button red">Red Button</a></li>
       <li> <a class="small button orange">Orange Button</a>
        <a class="medium button yellow">Yellow Button</a></li>
        </ul>
</div>  
     -->
    

</div>


    </section>

    
 
    <footer>
    </footer>
 
    <aside>
      <!--Contenido relacionado con la página o el sitio web-->
    </aside>
  </body>
</html>