<!DOCTYPE html>
<head>
<title>PestaNa o tablas con Css3, sin Jquery</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
<div>
	
		<div id="tabs">
			<ul>
				<li id="One"><a href="#One" id="first">1ero</a>
					<div>
						<p>Esdasdasdasdas </p>
					</div>
				</li>
				<li id="Two"><a href="#Two" id="sec">2do</a>
					<div>
						<p>asdasdsadasd</p>
					</div>
				</li>
				<li id="Three"><a href="#Three" id="third">3ero</a>
					<div>
						<p>asdasdasd </p>
					</div>
				</li>
			</ul>
		</div>

</div>
</body>
</html>


